.back {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);

  .titlee {
    color: black;
    font-size: 25px;
    font-weight: 1000;
  }

  .modal-body, input {
    color: black;
  }
}
